auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=true
@nudchannel:registry=https://gitlab.nudchannel.com/api/v4/packages/npm/
//gitlab.nudchannel.com/:_authToken=JiJFYAxM8z142PzFm_nx
